<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<p><%= params["query"] %> </p>
<p> - You</p>
<hr>

<p><%= @final_answer %></p>
<p> - Your Coach</p>

<%= link_to "Ask your coach", ask_path %>
